<mat-card class="login-card">
  <h2 class="login-title">Đăng nhập</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Nhập email"
      />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email là bắt buộc
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Email không hợp lệ
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mật khẩu</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="'password'"
        placeholder="Nhập mật khẩu"
      />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Mật khẩu là bắt buộc
      </mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
        Mật khẩu ít nhất 6 ký tự
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="full-width"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Đăng nhập
    </button>
  </form>
</mat-card>
